.character, .player, .enemy, .defender {
    float: left;
    height: 250px;
    width: 250px;
    text-align: center;
    margin-bottom: 35px;
}
body {
    background-image: url(../images/mortalkombat-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: red;
}

img {
    width: 100%; 
    height: 100%;
}

.clearfix {
    clear: both;
}